<div class="about">
	
	<div class="hero2">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h1>Our Mission</h1>
					<p>Kira is a social business<br />that gives low income babies<br />an equal start in life</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="values">
		<div class="container-fluid">
			<h1>Our Mission</h1>
			<div class="row-fluid">
				<div class="span4 text-center">
					<img src="assets/img/value1.png" />
					<h2>Transparency</h2>
					<p>We prove everything keeping our financials and our information public. Click here to see more</p>
				</div>
				<div class="span4 text-center">
					<img src="assets/img/value2.png" />
					<h2>social impact</h2>
					<p>We lower the cost of raising a baby while improving health outcomes for low income mothers</p>
				</div>
				<div class="span4 text-center">
					<img src="assets/img/value3.png" />
					<h2>Quality</h2>
					<p>100% Peruvian Pima cotton clothes and a functional and lasting crib</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="team">
		<div class="container-fluid">
			<h1>Meet the team</h1>
			<div class="row-fluid">
				<div class="span12 text-center">
					<!-- BEGIN DYNAMIC BLOCK: staff -->
					<div class="tm">
						<img src="{IMAGE}" />
						<h2>{NAME}</h2>
						<h3>{ROLE}</h3>
					</div>
					<!-- END DYNAMIC BLOCK: staff -->
				</div>
			</div>
		</div>
	</div>
	
	<div class="team director">
		<div class="container-fluid">
			<h1>Meet the directors</h1>
			<div class="row-fluid">
				<div class="span12 text-center">
					<!-- BEGIN DYNAMIC BLOCK: director -->
					<div class="tm">
						<img src="{IMAGE}" />
						<h2>{NAME}</h2>
						<h3>{ROLE}</h3>
					</div>
					<!-- END DYNAMIC BLOCK: director -->
				</div>
			</div>
		</div>
	</div>
	
</div>