<div class="account">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<img src="{IMAGE}" class="profile h100" />
			</div>
			<div class="span3 menu">
				<h2>Account settings</h2>
				
				<form action="" method="post" enctype="multipart/form-data">
					{ALERT}
					<input type="hidden" name="act" value="account-update" />
					
					<p><input type="text" name="data[email]" placeholder="Email address" value="{EMAIL}" /></p>
					<p><input type="password" name="data[password]" placeholder="Password" value="{PASSWORD}" /></p>
					<p style="margin: 40px 0px">Upload profile picture<br /><input type="file" name="image" /></p>
					<p><button class="btn btn-info">Save changes</button></p>
				</form>
			</div>
		</div>
	</div>
</div>