<div class="account" style="min-height: 400px">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<img src="{IMAGE}" class="profile h100" />
			</div>
			<div class="span7">
				<h1>hi {NAME}!<span>nice to have you back</span></h1>
				
				<div class="row-fluid">
					<div class="span4">
						<h3>{STAT_TOTAL} mothers have been helped by you</h3>
					</div>
					<div class="span8">
						<p>Since you signed up on Kira, you’ve helped {STAT_TOTAL} mothers raise their baby.</p>
						<p class="{STAT_RECENT}">Your recent donation helped <a href="{STAT_URL}">{STAT_NAME}</a> and her baby <a href="{STAT_URL}">{STAT_BABY_NAME}</a>.</p>
						<p>Spread the word by sending a <a href="gift-card">gift card</a>.</p>
					</div>
				</div>
				
			</div>
			<div class="span3 menu">
				<h2>Account settings</h2>
				
				<p><a href="account" class="selected">Profile</a></p>
				<p><a href="account-picture">Change profile picture</a></p>
				<p><a href="account-email">Change email and password</a></p>
				<p><a href="account-newsletter">Change newsletter subscription</a></p>
				<p><a href="?act=account-delete">Delete account</a></p>
				
				<!--
				<form action="" method="post" enctype="multipart/form-data">
				
					{ALERT}
					
					<input type="hidden" name="act" value="account-update" />
					
					<p><input type="text" name="data[email]" placeholder="Email address" value="{EMAIL}" /></p>
					<p><input type="password" name="data[password]" placeholder="Password" value="{PASSWORD}" /></p>
					<p><input type="checkbox" name="data[newsletter]" value="1" {NEWSLETTER} /> subscribe to our newsletter</p>
					<p style="margin: 40px 0px">Upload profile picture<br /><input type="file" name="image" /></p>
					<p><button class="btn btn-info">Save changes</button></p>
				</form>
				-->
			</div>
		</div>
	</div>
</div>

<div class="uf">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 text-center">
				<h1>Don’t know who to help?</h1>
				<p>Give to our universal fund and help more moms.</p>
				<a class="btn btn-info" href="universal-fund">give to our<br />universal fund</a>
			</div>
		</div>
	</div>
</div>