<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

			<form action="" method="post" class="contact">
				<input type="hidden" value="contact-send" name="act" />

				<h1>Contact us</h1>
				<p>Use the form below to send your message to us</p>
				{ALERT}

				<div class="row-fluid">
					<div class="span6">
						<p><input name="name" type="text" placeholder="Name" /></p>
						<p><input name="email" type="text" placeholder="Email address" /></p>
						<p><input name="phone" type="text" placeholder="Phone number" /></p>
						<p><textarea name="message" rows="7" class="input-xxlarge" placeholder="Message..."></textarea></p>
						<p><button class="btn btn-info btn-contact"><span class="ico ico-checkmark"></span> Send</button></p>
					</div>
				</div>
			</form>
	
		</div>
	</div>
</div>