<div class="gc-top text-center">
	<div class="container-fluid">
		<img src="assets/img/payment-done.png" />
		<h1>THE PERFECT GIFT</h1>
		<p>Enter email address and amount to buy a gift card</p>

		<input type="text" name="email" placeholder="Email address" />
		<div class="input-prepend">
			<span class="add-on">$</span>
			<input type="number" name="amount" placeholder="25" min="5" />
		</div>
		<button class="btn btn-info btn-buy">buy gift card</button>
	</div>
</div>
<div class="gc-middle">
	<div class="container-fluid">
		<h1>How it works</h1>
		
		<div class="row-fluid">
			<div class="span4 text-center">
				<img src="assets/img/gc1.png" />
				<h2>Choose a friend</h2>
				<p>Enter your friend's email address</p>
			</div>
			<div class="span4 text-center">
				<img src="assets/img/gc2.png" />
				<h2>Buy a gift card</h2>
				<p>Buy a gift card of $5 or more. 100% of your gift funds a Kirawawa</p>
			</div>
			<div class="span4 text-center">
				<img src="assets/img/gc3.png" />
				<h2>Let them donate</h2>
				<p>Your recipient donates to a mom and gets an update after they receive their Kirawawa</p>
			</div>
		</div>
		
		<p class="empty">If your recipient does not choose a mom within 30 days, the funds will be applied to another mom</p>
	</div>
</div>
<div class="gc-bottom">
	<div class="container-fluid">
		<h1>BUY THE BEST GIFT</h1>
		<p>The perfect gift for everyone. Enter email address and amount to buy a gift card</p>

		<input type="text" name="email2" placeholder="Email address" />
		<div class="input-prepend">
			<span class="add-on">$</span>
			<input type="number" name="amount2" placeholder="25" min="5" />
		</div>
		<button class="btn btn-info btn-buy2">buy gift card</button>
	</div>
</div>