<div class="about hkw">
	
	<div class="hero2">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h1>How Kira Works</h1>
					<p>Kira is a social enterprise focused on<br />delivering Kirawawa, a survival kit for low<br />income mothers of new-borns in Peru</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="process">
		<h1>Our process</h1>

		<div class="slides">
			<div class="slides-container">
				<div class="slide row-fluid">
					<div class="span5"><img src="assets/img/progress1.png" /></div>
					<div class="span7">
						<h2>1. Identification</h2>
						<p>Kira engages with local hospitals to identify low income mothers</p>
					</div>
				</div>
				<div class="slide row-fluid">
					<div class="span5"><img src="assets/img/progress2.png" /></div>
					<div class="span7">
						<h2>2. Selection</h2>
						<p>We interview and select mothers between 3 and 6 months of pregnancy</p>
					</div>
				</div>
				<div class="slide row-fluid">
					<div class="span5"><img src="assets/img/progress3.png" /></div>
					<div class="span7">
						<h2>3. Fundraising</h2>
						<p>We start our fundraising process through our website and private rounds</p>
					</div>
				</div>
				<div class="slide row-fluid">
					<div class="span5"><img src="assets/img/progress4.png" /></div>
					<div class="span7">
						<h2>4. Baby’s health</h2>
						<p>The mother attends prenatal checkups at the hospital – one per month until birth</p>
					</div>
				</div>
				<div class="slide row-fluid">
					<div class="span5"><img src="assets/img/progress5.png" /></div>
					<div class="span7">
						<h2>5. Kirawawa delivery</h2>
						<p>We close the funding and deliver <strong>Kirawawa</strong> when the baby is born</p>
					</div>
				</div>
				<div class="slide row-fluid">
					<div class="span5"><img src="assets/img/progress6.png" /></div>
					<div class="span7">
						<h2>6. Update</h2>
						<p>Our donors get un update of the baby and mother after birth</p>
					</div>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
			
		<div class="container-fluid">
			<input class="slider" type="range" min="0" max="0" value="0" step="1" />
			
			<p><strong>Move the flower</strong> to see our process</p>
			
		</div>
	</div>
	
	<!--
	<div class="payment">
		<div class="container-fluid">
			<h1>Kirawawa co-payment</h1>
			<div class="row-fluid">
				<div class="span4 text-center">
					<img src="assets/img/payment1.png" />
					<h2>price</h2>
					<p>We charge the mothers a small price that represents up to 10% of the total cost of <strong>Kirawawa</strong> to cover our operations costs</p>
				</div>
				<div class="span4 text-center">
					<img src="assets/img/payment2.png" />
					<h2>payment schedule</h2>
					<p>Mothers can pay <strong>Kirawawa</strong> in up to two equal installments: at the beginning of the program and when <strong>Kirawawa</strong> is delivered</p>
				</div>
				<div class="span4 text-center">
					<img src="assets/img/payment3.png" />
					<h2>sustainability</h2>
					<p>Our goal is to be financially sustainable to pay for credit card processing fees, <strong>Kirawawa</strong> delivery, staff salaries, among others</p>
				</div>
			</div>
		</div>
	</div>
	-->

</div>