<div class="kw">
	
	<div class="hero3">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span5">
					<h1>KIRAWAWA</h1>
					<p>Cardboard box that contains essential baby products to support expectant low income Peruvian mothers during infant care</p>
				</div>
				<div class="span7"></div>
			</div>
		</div>
	</div>

	<div class="tabs">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
		
					<ul class="nav nav-tabs" id="mytabs">
						<li class="active"><a data-toggle="tab" href="#tab-kirawawa">Kirawawa</a></li>
						<li><a data-toggle="tab" href="#tab-social">Social impact</a></li>
						<li><a data-toggle="tab" href="#tab-wik">What's in Kirawawa?</a></li>
						<li><a data-toggle="tab" href="#tab-history">History</a></li>
						<li><a data-toggle="tab" href="#tab-specs">Specs</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="tab-kirawawa">
							<div class="row-fluid">
								<div class="span6 text-center">
									<img src="assets/img/tab1.png" />
								</div>
								<div class="span6">
									<h1>Kira<span>wawa</span></h1>
									<p>
										<strong>Kirawawa</strong> derives  from the Quechua words <strong>“Kiraw”</strong> - crib -  and <strong>“wawa”</strong> - baby.<br /><br />
										<strong>Kirawawa</strong> is a survival kit for low income mothers in Peru. It is a cardboard box that contains a carefully selected collection of essential baby <strong>products</strong> such as <strong>clothes, health products and toys</strong>.
									</p>
								</div>
							</div>
							<div id="tab-carousel" class="carousel slide">
								<ol class="carousel-indicators">
									<li data-target="#tab-carousel" data-slide-to="0" class="active"></li>
									<li data-target="#tab-carousel" data-slide-to="1"></li>
									<li data-target="#tab-carousel" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="active item">
										<img src="assets/img/tab-slide1.jpg" />
										<div class="content">
											<h1>First bed</h1>
											<p>Safe sleep space for the baby<br /><strong>(up to 6-7 months)</strong></p>
										</div>
									</div>
									<div class="item">
										<img src="assets/img/tab-slide2.jpg" />
										<div class="content">
											<h1>Closet</h1>
											<p>The box lid can be used as a small closet</p>
										</div>
									</div>
									<div class="item">
										<img src="assets/img/tab-slide3.jpg" />
										<div class="content">
											<h1>Rocking crib</h1>
											<p>Attachments allow the feature of rocking crib</p>
										</div>
									</div>
								</div>
								<a class="carousel-control left" href="#tab-carousel" data-slide="prev"><span class="ico ico-keyboard-arrow-left"></span></a>
								<a class="carousel-control right" href="#tab-carousel" data-slide="next"><span class="ico ico-keyboard-arrow-right"></span></a>
							</div>
						</div>
						<div class="tab-pane" id="tab-social">
							<div class="row-fluid">
								<div class="span6 text-center">
									<img src="assets/img/tab2.jpg" />
								</div>
								<div class="span6">
									<h1>Social impact</h1>
									<p>
										<strong>Reduces the risks of suffocation or crushing</strong>. Many low income families sleep in the same bed with their babies, because they can’t afford to buy a crib or moses.
										<br /><br />
										<strong>Improves certain health outcomes</strong>. By providing proper clothes and hygiene supplies, such as diapers, we lower the chance of hypothermia cases as well as potential infections or respiratory diseases.
										<br /><br />
										<strong>Encourages expectant mothers to attend prenatal checkups</strong>. Checkups allow doctors to identify potential complications.
										<br /><br />
										<strong>Lowers the cost of raising a baby for low income mothers</strong>. The box and its contents save up to $300 of annual income, and it also reduces future health expenditures related to respiratory diseases or acute infections.
										<br /><br />
										<strong>Empowers parents</strong>. Through healthcare education deliver via Kirawawa we encourage good parenting.
									</p>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-wik">
							<div class="row-fluid">
								<div class="span6">
									<div class="plist">
										<a href="#" class="list-show"><span class="ico ico-plus"></span>See full item list</a>
										<div class="list">
											<a href="#" class="list-hide"><span class="ico ico-minus"></span>Hide list</a>
											<div class="row-fluid">
												<div class="span1"></div>
												<div class="span5">
													<!-- BEGIN DYNAMIC BLOCK: items-left -->
													<p>{QUANTITY}x {NAME}</p>
													<!-- END DYNAMIC BLOCK: items-left -->
												</div>
												<div class="span5">
													<!-- BEGIN DYNAMIC BLOCK: items-right -->
													<p>{QUANTITY}x {NAME}</p>
													<!-- END DYNAMIC BLOCK: items-right -->
												</div>
												<div class="span1"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="span6">
									<h1>What’s in Kirawawa?</h1>
									<p>
										<strong>Sleeping products</strong>. We provide a mattress with an attached waterproof cover and a 100% organic cotton set of bed sheets sheets and bed cover.
										<br /><br />
										<strong>Hygiene and homecare products</strong>. We provide day-to-day hygiene products such as diapers, wet wipes, and scald cream. We also provide different bath products, such as shampoo, talcum powder, glycerine soap, a soft hooded towel and a thermometer to ensure a suitable bath temperature. 
										<br /><br />
										<strong>Clothing</strong><br />
										Babies change sizes during the first year and that’s why Kirawawa includes different clothing sizes made of world’s finest Peruvian Pima cotton. It also includes clothes for different seasons.  
										<br /><br />
										<strong>Stimulating toys</strong><br />
										All babies need to play! Kirawawa includes the baby’s first toys that will help with their development.
										<br /><br />
										<strong>Healthcare & sexual education brochures</strong><br />
										We want to help mothers raise their babies. That is why we give mothers education brochures covering several topics such as: breastfeeding, security measures, sleeping tips, among others.<br />
										<strong>Check our brochures! Click here</strong>
									</p>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-history">
							<div class="row-fluid">
								<div class="span6 text-center">
									<img src="assets/img/tab4.jpg" />
								</div>
								<div class="span6">
									<h1>History</h1>
									<p>
										For more than 75 years, Finland’s expectant mothers have received a baby box from the state that serves as a starter kit for their new baby. It's designed to give all children in Finland an equal start in life. 
										<br /><br />
										The box was only given to the mother if she received prenatal care from a professional before her fourth month of pregnancy. Encouraging good parenting has been part of the maternity box policy all along.
										<br /><br />
										In 1938, Finland was a poor country and infant mortality was high, 65 out of 1,000 babies died. But the figures improved rapidly in the decades that followed, in 2013 Finland register 3 deaths per 1,000 births. 
									</p>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-specs">
							<div class="row-fluid">
								<div class="span6 text-center">
									<img src="assets/img/tab5.jpg" />
								</div>
								<div class="span6">
									<h1>Kirawawa Specs</h1>
									<p>
										<strong>Box measures</strong>: 72 x 42 x 27 cm<br />
										Our box is made of simple corrugated cardboard and double plating with duplex
										<br /><br />
										<strong>Mattress measures</strong>: 68 x 38x 5 cm<br />
										Our mattress is made of foam and the waterproof cover is made of linen.
									</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</div>