<div class="mom">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
				<h1><span class="name">{FNAME}</span> needs <span class="value">${REMAINING}</span><span>to raise her new baby</span></h1>
				
				<div class="row-fluid data">
					<div class="span4">
						<img src="assets/img/ico-{BABY_GENDER}-blue.png" /> Baby's name: <span>{BABY_NAME}</span>
					</div>
					<div class="span4">
						<span class="ico ico-today"></span> Due date: <span>{BABY_DATE}</span>
					</div>
					<div class="span4">
						<span class="ico ico-heart"></span> Funded by: <span>{TOTAL_FUNDERS}</span>
					</div>
				</div>
				
				<div id="mom-carousel" class="carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#mom-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#mom-carousel" data-slide-to="1"></li>
						<li data-target="#mom-carousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<!-- BEGIN DYNAMIC BLOCK: image -->
						<div class="item {CLASS}" style="background-image: url('{IMAGE_URL}')"></div>
						<!-- END DYNAMIC BLOCK: image -->
					</div>
					<a class="carousel-control left" href="#mom-carousel" data-slide="prev"><span class="ico ico-keyboard-arrow-left"></span></a>
					<a class="carousel-control right" href="#mom-carousel" data-slide="next"><span class="ico ico-keyboard-arrow-right"></span></a>
				 </div>
				
				<h2>About {FNAME}</h2>
				<div class="description">
					{DESC_SHORT}
					<br /><br />
					{DESC_LONG}
				</div>
			</div>
			
			<div class="span4">
				
				<div class="top">
					<div class="percent">
						<div class="heart back"></div>
						<div class="heart front" {PERCENT_HEART}></div>
						{PERCENT}%
					</div>
					<div class="amount"><span>${RAISED}</span> raised, <span>${REMAINING}</span> to go</div>
					<div class="input-append input-prepend" {CAN_FUND}>
						<span class="add-on">$</span>
						<input type="text" placeholder="25" name="amount" />
						<button class="btn btn-info btn-donate">donate</button>
					</div>
				</div>
				
				<div class="bottom">
					<h3>{FNAME}'s timeline</h3>
					<ul>
						<!-- BEGIN DYNAMIC BLOCK: update -->
						<li>
							<span class="line"></span>
							<span class="circle"></span>
							<p class="date">{UPDATE_DATE}</p>
							<p class="text">{UPDATE_TEXT}</p>
						</li>
						<!-- END DYNAMIC BLOCK: update -->
					</ul>
					{UPDATE_EMPTY}
				</div>
				
				<div class="share">
					Share {FNAME}'s story
					<p>
						<span class="ico ico-facebook3" data-url="https://www.facebook.com/sharer/sharer.php?u={SHARE_URL}"></span>
						<a href="https://twitter.com/intent/tweet?text=Support {FNAME} on Kira" target="_blank"><span class="ico ico-twitter3"></span></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
				
<div class="featured">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h1>Other moms looking for help <span class="ico ico-heart"></span></h1>
				
				<ul class="moms featured-moms"></ul>
				
				<p class="text-center"><a class="btn btn-info" href="support-a-mom">see more moms</a></p>
			</div>
		</div>
	</div>
</div>

<div class="uf">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 text-center">
				<h1>Don’t know who to help?</h1>
				<p>Give to our universal fund and help more moms.</p>
				<a class="btn btn-info" href="universal-fund">give to our<br />universal fund</a>
			</div>
		</div>
	</div>
</div>

<form action="" method="post" class="donation-form hide">
	<input type="hidden" name="act" value="mom-donate" />
	<input type="hidden" name="amount" value="" />
</form>