<div class="pay">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5">
				<img src="{IMAGE}" />
			</div>
			<div class="span7">
				<h1>You are donating $ {AMOUNT} to {NAME}</h1>
				
				{ALERT}
				
				<div class="gc">
					<p>Enter gift card code</p>
					<input type="text" name="card-code" value="{GCC}" />
				</div>
				
				<div class="help">
					<input type="checkbox" name="tip-check" checked="checked" />
					Add an optional
					<div class="input-prepend">
						<span class="add-on">$</span>
						<input type="number" name="tip-amount" value="{TIP}" />
					</div>
					to help Kira grow
				</div>
				
				<table>
					<tr>
						<td>Donation</td>
						<td class="st-amount">$ {AMOUNT}</td>
					</tr>
					<tr>
						<td>Tip</td>
						<td class="st-tip">$ {TIP}</td>
					</tr>
					<tr>
						<td>Gift card</td>
						<td class="st-card">$ 0</td>
					</tr>
					<tr>
						<td>Total</td>
						<td class="st-total">$ {TOTAL}</td>
					</tr>
				</table>
				
				<form action="" method="post" class="pay-form">
					<input type="hidden" name="act" value="pay-donate" />
					<input type="hidden" name="amount" value="{AMOUNT}" />
					<input type="hidden" name="tip" value="{TIP}" />
					<input type="hidden" name="card_code" value="0" />
					<input type="hidden" name="card_id" value="0" />
					<input type="hidden" name="card_amount" value="0" />
					<input type="hidden" name="total" value="{TOTAL}" />
					
					<p class="text-left"><button class="btn btn-donate btn-info">donate</button></p>
				</form>
					
			</div>
		</div>
	</div>
</div>