<div class="support">
	<h1>Choose a mom to support</h1>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="sort">
					Sort by
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" data-value="date">Pregnancy due date <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li data-value="date">Pregnancy due date</li>
							<li data-value="fund">Lowest funding</li>
						</ul>
					</div>
				</div>
				
				<ul class="moms"></ul>
				
				<p class="text-center"><button class="btn btn-info btn-more">see more moms</button></p>
			</div>
		</div>
	</div>
</div>

<div class="uf">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 text-center">
				<h1>Don’t know who to help?</h1>
				<p>Give to our universal fund and help more moms.</p>
				<a href="universal-fund" class="btn btn-info">give to our<br />universal fund</a>
			</div>
		</div>
	</div>
</div>