<div class="uf-top">
	<div class="container-fluid text-center">
		<h1>UNIVERSAL FUND</h1>
		<p>Join with a recurring donation and automatically fund a Kirawawa every month</p>

		<div class="input-prepend">
			<span class="add-on">$</span>
			<input type="number" name="amount" placeholder="25" min="5" />
		</div>
		<button class="btn btn-info btn-give">give monthly</button>
	</div>
</div>
<div class="uf-middle">
	<div class="container-fluid">
		<h1>Automatic monthly donations</h1>
		<p>Your donation is automatically charged to your credit card every month and is simple to edit at any time.</p>
	</div>
</div>
<div class="uf-bottom">
	<div class="container-fluid">
		<h1>Monthly email updates</h1>
		<p>Every month, you will receive an email introducing you to the mom you supported and an update when her baby is born.</p>
	</div>
</div>