<div class="box w100">
	<h2>{PAGE_TITLE}</h2>
	<h4>{PAGE_HINT}</h4>
	
	<div class="toolbar clearfix">
		<button class="btn btn-ico btn-back-to-list"><span class="ico ico-arrow-left2"></span></button>
	</div>
	
	<form class="must-process" onsubmit="return false">
		<div class="row-fluid row-list">
			<div class="span4"><label>Label</label></div>
			<div class="span8"><input type="text" data-required="true" class="span12" name="label" placeholder="Label" value="{LABEL}" /></div>
		</div>

		<p class="save"><button class="btn btn-success btn-submit"><span class="ico ico-check"></span>Save</button></p>
	</form>
</div>