<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta name="keywords" content="{SITE_NAME}, administration, panel" />
        <meta name="description" content="{SITE_NAME} administration panel" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Administration Panel</title>
		
		<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic">
        <link rel="stylesheet" media="screen" href="../assets/css/font-style.css">
    	<link rel="stylesheet" media="screen" href="css/bootstrap.css" />
    	<link rel="stylesheet" media="screen" href="css/bootstrap-responsive.min.css" />
    	<link rel="stylesheet" media="screen" href="css/jquery.scrollable.css" />
    	<link rel="stylesheet" media="screen" href="css/loader.css" />
    	<link rel="stylesheet" media="screen" href="css/app.css" />
		<link rel="stylesheet" media="screen and (max-width: 720px)" href="css/app.mobile.css"  />
    </head>
    <body>
		
		<div class="access">
			<div class="access-box text-center">
				<h1>Admin Panel</h1>
				<p><input type="text" name="user" placeholder="User" /></p>
				<p><input type="password" name="password" placeholder="Password" /></p>
				<p><button class="btn btn-info">Sign in</button></p>
			</div>
		</div>
		
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.ui.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>