<div class="box w100">
	<h2>{PAGE_TITLE}</h2>
	<h4>Manage members of your web site</h4>
	
	<div class="toolbar clearfix">
		<div class="pull-left">
			<button class="btn btn-ico btn-delete"><span class="ico ico-delete"></span> Remove selected </button>
			<button class="btn btn-ico btn-create"><span class="ico ico-add"></span> Add new </button>
		</div>
		<div class="pull-right">
			<input type="text" name="filter-term" placeholder="Search or filter list items" value="{FILTER}" />
		</div>
	</div>
	
	<div class="table-holder">
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" class="master"></th>
					<th><span class="ico ico-unfold-more" data-sort="member_id" data-order="{ORDER}"></span>ID</th>
					<th><span class="ico ico-unfold-more" data-sort="name" data-order="{ORDER}"></span>Name</th>
					<th><span class="ico ico-unfold-more" data-sort="email" data-order="{ORDER}"></span>Email</th>
					<th><span class="ico ico-unfold-more" data-sort="date" data-order="{ORDER}"></span>Registration</th>
					<th>Total donation</th>
					<th># of moms supported</th>
					<th>Average ticket</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN DYNAMIC BLOCK: item -->
				<tr>
					<td><input type="checkbox" class="slave" data-id="{ID}"></td>
					<td>{ID}</td>
					<td><a href="#" data-toggle="item" data-id="{ID}">{NAME}</a></td>
					<td>{EMAIL}</td>
					<td>{REGISTRATION}</td>
					<th>$ {DONATION}</th>
					<th>{SUPPORTED}</th>
					<th>$ {AVERAGE}</th>
				</tr>
				<!-- END DYNAMIC BLOCK: item -->
				{EMPTY}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8">{PAGINATION}</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="text-right" style="padding: 20px">
		<a href="callback.php?act=members-export&q={EXPORT_QUERY}" target="_blank"><span class="ico ico-download"></span> Export all</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="callback.php?act=members-export&q={EXPORT_QUERY_NEWSLETTER}" target="_blank"><span class="ico ico-download"></span> Export newsletter subscriptions</a>
	</div>
</div>