<div class="box w100">
	<h2>{PAGE_TITLE}</h2>
	<h4>Manage the menu of your web site</h4>
	
	<div class="toolbar clearfix">
		<div class="pull-left">
			<button class="btn btn-ico btn-delete"><span class="ico ico-delete"></span> Remove selected </button>
			<button class="btn btn-ico btn-create"><span class="ico ico-add"></span> Add new </button>
		</div>
		<div class="pull-right">
			<input type="text" name="filter-term" placeholder="Search or filter list items" value="{FILTER}" />
		</div>
	</div>
	
	<div class="table-holder">
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" class="master"></th>
					<th><span class="ico ico-unfold-more" data-sort="menu_id" data-order="{ORDER}"></span>ID</th>
					<th><span class="ico ico-unfold-more" data-sort="label" data-order="{ORDER}"></span>Label</th>
					<th><span class="ico ico-unfold-more" data-sort="url" data-order="{ORDER}"></span>URL</th>
					<th><span class="ico ico-unfold-more" data-sort="parent_id" data-order="{ORDER}"></span>Parent</th>
					<th><span class="ico ico-unfold-more" data-sort="sort_order" data-order="{ORDER}"></span>Sort order</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN DYNAMIC BLOCK: item -->
				<tr>
					<td><input type="checkbox" class="slave" data-id="{ID}"></td>
					<td>{ID}</td>
					<td><a href="#" data-toggle="item" data-id="{ID}">{LABEL}</a></td>
					<td>{URL}</td>
					<td>{PARENT}</td>
					<td>{SORT_ORDER}</td>
				</tr>
				<!-- END DYNAMIC BLOCK: item -->
				{EMPTY}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">{PAGINATION}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>