<div class="box w100">
	<h2>{PAGE_TITLE}</h2>
	<h4>Overview of transactions</h4>
	
	<div class="toolbar clearfix">
		<div class="pull-left">
		</div>
		<div class="pull-right">
			<input type="text" name="filter-term" placeholder="Search or filter list items" value="{FILTER}" />
		</div>
	</div>
	
	<div class="table-holder">
		<table>
			<thead>
				<tr>
					<th><span class="ico ico-unfold-more" data-sort="transaction_id" data-order="{ORDER}"></span>ID</th>
					<th><span class="ico ico-unfold-more" data-sort="date" data-order="{ORDER}"></span>Date</th>
					<th><span class="ico ico-unfold-more" data-sort="type" data-order="{ORDER}"></span>Type</th>
					<th><span class="ico ico-unfold-more" data-sort="name" data-order="{ORDER}"></span>Name</th>
					<th>Paid to</th>
					<th><span class="ico ico-unfold-more" data-sort="amount" data-order="{ORDER}"></span>Amount</th>
					<th><span class="ico ico-unfold-more" data-sort="status" data-order="{ORDER}"></span>Status</th>
					<th>PayPal transaction ID</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN DYNAMIC BLOCK: item -->
				<tr>
					<td>{ID}</td>
					<td>{DATE}</td>
					<td>{TYPE}</td>
					<td>{NAME}</td>
					<td>{TO}</td>
					<td>{AMOUNT}</td>
					<td>{STATUS}</td>
					<td>{PAYMENT}</td>
				</tr>
				<!-- END DYNAMIC BLOCK: item -->
				{EMPTY}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8">{PAGINATION}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>